@model Apartment_Management.Models.BuildingEmployees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BuildingEmployees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleInBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleInBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsArchive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsArchive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuildingEmployeesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
