@model PagedList.IPagedList<Apartment_Management.Models.Building>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Content/PagedList.css" />

@{
    ViewBag.Title = "Index";
}
<div class="header-list">
    <h2>Quản lý tòa nhà</h2>

    <div class="action-group">
        @using (Html.BeginForm())
        {
            <div class="form-group form-inline">
                @Html.TextBox("searchString", "", new { @class = "form-control" })
                <button type="submit" class="btn btn-success"> <i class="fa fa-search"></i> </button>
            </div>
        }

        <a class="btn-success btn-create" href="@Url.Action("Create", "Buildings")" style="background-color: #918055">
            Tạo mới
        </a>
        <a class="btn-secondary btn-create" href="@Url.Action("ExportToCSV", "Buildings")">
            Xuất File
        </a>
    </div>
</div>
<table class="content-table">
    <tr>
        <th>
            Tên chi nhánh
        </th>
        <th>
            Tên tòa nhà
        </th>
        <th>
            Ghi chú
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="list-action">
                <a data-toggle="tooltip" title="Chỉnh sửa" class="text-primary" href="@Url.Action("Edit", new { id = item.BuildingID })">
                    <i class="fa fa-pencil-alt"></i>
                </a>

                <a data-toggle="tooltip" title="Xóa" class="text-danger" href="@Url.Action("Delete", new { id = item.BuildingID })"
                   onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="pagination-group">
    <span>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter }))
</div>