@model IEnumerable<Apartment_Management.Models.Building>

@{
    ViewBag.Title = "Index";
}
<div class="header-list">
    <h2>Quản lý tòa nhà</h2>

    <a class="btn-success btn-create" href="@Url.Action("Create", "Buildings")" style="background-color: #918055">
        Tạo mới
    </a>
</div>

<table class="content-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="list-action">
            <a data-toggle="tooltip" title="Chỉnh sửa" class="text-primary" href="@Url.Action("Edit", new { id = item.BuildingID })">
                <i class="fa fa-pencil-alt"></i>
            </a>

            <a data-toggle="tooltip" title="Xóa" class="text-danger" href="@Url.Action("Delete", new { id = item.BuildingID })"
               onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                <i class="fa fa-trash-alt"></i>
            </a>
        </td>
    </tr>
}

</table>
