@model IEnumerable<Apartment_Management.Models.Branch>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Table.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <h1 class="title">Quản lý chi nhánh</h1>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="content-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsArchive)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsArchive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BranchID }) |

                        @Html.ActionLink("Details", "Details", new { id = item.BranchID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BranchID })
                    </td>
                </tr>
            }

        </table>
</body>
</html>
