@model Apartment_Management.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Quản lý chung cư ABC</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/main.css" rel="stylesheet" type='text/css' />
    <link href="~/Content/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @using (Html.BeginForm("Autherize", "Login", new { returnUrl = Request.QueryString["ReturnUrl"] },FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <section class="login__section">
            <div class="login__container container-fluid mx-auto">
                <div class="card card0 border-0">
                    <div class="row d-flex">
                        <div class="col-lg-6">
                            <div class="login-logo">
                                <img class="main-logo" src="~/Content/images/logo.jpg" />
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="card2 card border-0 px-4 py-5">

                                <div class="row px-3">
                                    <label class="mb-1">
                                        @Html.LabelFor(model => model.Username)
                                    </label>
                                    @Html.EditorFor(model => model.Username)
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <span class="w-100 text-danger"> @Html.ValidationMessageFor(model => model.Username) </span>
                                    }
                                </div>
                                <div class="row px-3">
                                    <label class="mb-1">
                                        @Html.LabelFor(model => model.Password)
                                    </label>
                                    @Html.EditorFor(model => model.Password)
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <span class="w-100 text-danger"> @Html.ValidationMessageFor(model => model.Password) </span>
                                    }
                                </div>

                                <span class="w-100 text-danger"> @Html.ValidationMessage("accountInvalid") </span>
                                
                                <button type="submit" class="w-100 btn btn-login text-center">Login</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer-login py-4">
            <div class="row px-3">
                <p class="text-center ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</p>
            </div>
        </footer>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

