@model Apartment_Management.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Chi tiết User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserID)

    <div class="form-group">
        <label class="control-label">Chi tiết căn hộ</label>
        @*@Html.LabelFor(model => model.ApartmentDetailID, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-15">
            @Html.EditorFor(model => model.ApartmentDetailID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApartmentDetailID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Họ và tên đệm</label>
            @*@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Tên</label>
            @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Ngày sinh</label>
            @*@Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Số điện thoại</label>
            @*@Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">CMND\CCCD</label>
            @*@Html.LabelFor(model => model.IdCard, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.IdCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Địa chỉ</label>
            @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label">Ghi chú</label>
        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-15">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">IsActive</label>
            @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">IsArchive</label>
            @*@Html.LabelFor(model => model.IsArchive, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsArchive)
                    @Html.ValidationMessageFor(model => model.IsArchive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12 text-right">
            <button class="col-lg-2 btn-submit btn-success" style="background-color: #918055">Save</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
