@model PagedList.IPagedList<Apartment_Management.Models.User>
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "Index";
}
<div class="header-list">
    <h2>Quản Lý Cư Dân</h2>

    <div class="action-group">
        @using (Html.BeginForm())
        {
            <div class="form-group form-inline">
                @Html.TextBox("searchString", "", new { @class = "form-control" })
                <button type="submit" class="btn btn-success"> <i class="fa fa-search"></i> </button>
            </div>
        }

        <a class="btn-success btn-create" href="@Url.Action("Create", "Users")" style="background-color: #918055">
            Tạo mới
        </a>
        <a class="btn-secondary btn-create" href="@Url.Action("ExportToCSV", "Users")">
            Export File
        </a>
    </div>
</div>

<table class="content-table">
    <tr>
        <th>
            Mã Căn Hộ
        </th>
        <th>
            Họ
        </th>
        <th>
            Tên
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            SĐT
        </th>
        <th>
            Địa chỉ
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentDetailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="list-action">
                <a data-toggle="tooltip" title="Chỉnh sửa" class="text-primary" href="@Url.Action("Edit", new { id = item.UserID })">
                    <i class="fa fa-pencil-alt"></i>
                </a>

                <a data-toggle="tooltip" title="Xóa" class="text-danger" href="@Url.Action("Delete", new { id = item.UserID })"
                   onclick="return confirm('Bạn chắc chắn muốn xóa khách hàng này?')">
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="pagination-group">
    <span>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter }))
</div>