@model IEnumerable<Apartment_Management.Models.User>

@{
    ViewBag.Title = "Index";
}
<div class="header-list">
    <h2>Quản Lý Cư Dân</h2>

    <a class="btn-success btn-create" href="@Url.Action("Create", "Users")" style="background-color: #918055">
        Tạo mới
    </a>
</div>
@*<h2>Quản lý cư dân</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="content-table">
    <tr>
        <th>
            <label class="control-label col-md-7"> Chi tiết Căn Hộ </label>
            @*@Html.DisplayNameFor(model => model.ApartmentDetailID)*@
        </th>
        <th>
            <label class="control-label col-md-7"> Họ </label>
            @* @Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            <label class="control-label col-md-7"> Tên </label>
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            <label class="control-label col-md-7"> Ngày Sinh </label>
           @* @Html.DisplayNameFor(model => model.Dob)*@
        </th>
        <th>
            <label class="control-label col-md-7"> SĐT </label>
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
        </th>
        <!--<th>
            <label class="control-label col-md-7"> CMND/CCCD</label>-->
           @* @Html.DisplayNameFor(model => model.IdCard)*@
        <!--</th>-->
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsArchive)
        </th>*@
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ApartmentDetailID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dob)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.IdCard)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>*@
    @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsArchive)
        </td>*@
    @*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
    </td>*@
<td class="list-action">
    <a data-toggle="tooltip" title="Chỉnh sửa" class="text-primary" href="@Url.Action("Edit", new { id = item.UserID })">
        <i class="fa fa-pencil-alt"></i>
    </a>

    <a data-toggle="tooltip" title="Xóa" class="text-danger" href="@Url.Action("Delete", new { id = item.UserID })"
       onclick="return confirm('Bạn chắc chắn muốn xóa khách hàng này?')">
        <i class="fa fa-trash-alt"></i>
    </a>
    @*
        @Html.ActionLink("Chi tiết", "Details", new { id = item.ApartmentID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.ApartmentID })*@
</td>
</tr>
}

</table>
