@model IEnumerable<Apartment_Management.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<div class="header-list">
    <h2>Quản lý căn hộ</h2>

    <div>
        <a class="btn-success btn-create" href="@Url.Action("Create", "Apartments")" style="background-color: #918055">
            Tạo mới
        </a>
        <a class="btn-success btn-create" href="@Url.Action("ExportToCSV", "Apartments")" style="background-color: #918055 ">
            Export File
        </a>
    </div>
</div>

<table  class="content-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Chức năng </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="list-action">
            <a data-toggle="tooltip" title="Chỉnh sửa" class="text-primary" href="@Url.Action("Edit", new { id = item.ApartmentID })">
                <i class="fa fa-pencil-alt"></i>
            </a>

            <a data-toggle="tooltip" title="Xóa" class="text-danger" href="@Url.Action("Delete", new { id = item.ApartmentID })">
                <i class="fa fa-trash-alt"></i>
            </a>
@*
            @Html.ActionLink("Chi tiết", "Details", new { id = item.ApartmentID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.ApartmentID })*@
        </td>
    </tr>
}

</table>
