@model Apartment_Management.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<div class="header-form">
    <a class="btn-return" href="@Url.Action("Index", "Employees")" style="background-color: #918055">
        <i class="fa fa-chevron-left"></i>
    </a>

    <h2>Chỉnh sửa nhân viên</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nhân viên</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeID)

    <div class="form-group">
        <label class="control-label">Role</label>
        @*@Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-15">
            @Html.EnumDropDownListFor(model => model.Role, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Username</label>
            <div>
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Password</label>
            <div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label">Họ và tên đệm</label>
            <div>
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Tên</label>
            <div>
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="form-group col-md-6">
            <label class="control-label">Ngày sinh</label>
            <div>
                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Số điện thoại</label>
            <div>
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="form-group col-md-6">
            <label class="control-label">CMND\CCCD</label>
            <div>
                @Html.EditorFor(model => model.IdCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Địa chỉ</label>
            <div>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Ghi chú</label>
        <div class="col-md-15">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label class="content-lable">IsActive</label>
            @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="content-lable">IsArchive</label>
            @*@Html.LabelFor(model => model.IsArchive, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div @*class="col-md-10"*@>
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsArchive)
                    @Html.ValidationMessageFor(model => model.IsArchive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12 text-right">
            <button class="col-lg-2 btn-submit btn-success" style="background-color: #918055">Save</button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
